@import './base.css';




#app {
  max-width: 80vw;
  padding-top: 10px;
  margin: 0 auto;  
  z-index: 1;
  flex-direction: column;
  min-height: 100vh;
  
}

@font-face {  
  font-family: 'ChakraPetch';
  src: url('@/assets/fonts/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {  
  font-family: 'Noto Sans';
  src: url('@/assets/fonts/NotoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
  }
}
