@import './base.css';

#app {
  max-width: 100%;
  padding-top: 10px;
 

  flex-direction: column;
}

@font-face {
  font-family: 'NotoSans';
  src: url('@/assets/fonts/NotoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
  }
}
